NUXT_APP_URL = http://localhost:8090
NUXT_AUTH_SECRET = “okBzj58oRoFvT9Fhq/gqx7AmmTQu6dC1XiXVnvwSHXg=”
AUTH_ORIGIN = http://localhost:8090/

# Local
NUXT_KEYCLOAK_ISSUER = http://localhost:9090/realms/connector
NUXT_KEYCLOAK_CLIENT_ID = local-cloud-catalog-ui
NUXT_KEYCLOAK_CLIENT_SECRET = Nz58iFjIY8gq0ZgRuD3cSrUyUfj9FFMe


CLOUD_API_URL = http://localhost:3000
PARTICIPANT_API_URL = http://localhost:3010